apiVersion: networking.istio.io/v1alpha3
kind: Gateway
metadata:
  name: gateway-staging
  namespace: ${istio_ingress_namespace}
spec:
  selector:
    istio: ingressgateway
  servers:
  - port:
      number: 80
      name: http
      protocol: HTTP
    hosts:
    - ${domain_name}
  - port:
      number: 443
      name: https
      protocol: HTTPS
    tls:
      mode: SIMPLE
      credentialName: ${secret_name}
    hosts:
    - ${domain_name}